*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: large;
    font-weight: 400;
}

.text_center { 
    text-align: center;
}

.first_elem {
    margin-left: 15px;
}

.container, .button {
    margin: 25px;
    text-align: center;
}

.news {
    border: 4px solid beige;
    border-color: beige;
    border-radius: 8px;
    margin: 15px;
}

button {
    background-color: beige;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}